In [2]:
import pandas as pd

In [28]:
data = pd.read_csv('train.csv')
data.tail()

                    image               species individual_id
51028  fff639a7a78b3f.jpg                beluga  5ac053677ed1
51029  fff8b32daff17e.jpg  cuviers_beaked_whale  1184686361b3
51030  fff94675cc1aef.jpg            blue_whale  5401612696b9
51031  fffbc5dd642d8c.jpg                beluga  4000b3d7c24e
51032  fffdcd42312777.jpg    bottlenose_dolphin  4ddb2eeb5efb

In [56]:
print(len(data['image'].values))
print(len(set(data['image'].values)))

51033
51033

In [59]:
maked_data = pd.DataFrame(columns=['image1', 'image2', 'individual_id', 'species'])
for category in list(set(data['individual_id'])):
    temp_df = pd.DataFrame()
    images = list(data[data['individual_id'] == category]['image'].values)
    first_images = []
    second_images = []
    temp_images = images
    for index, image1 in enumerate(images):
        for image2 in temp_images:
            first_images.append(image1)
            second_images.append(image2)
        del temp_images[index]
    
    temp_df['image1'] = pd.Series(first_images)
    temp_df['image2'] = pd.Series(second_images)
    temp_df['individual_id'] = category
    if len(list(set(data[data['individual_id'] == category]['species']))) > 1:
        raise "species suppose to be 1"
    temp_df['species'] = list(set(data[data['individual_id'] == category]['species']))[0]
    
    maked_data = maked_data.append(temp_df, ignore_index = True)

In [60]:
maked_data.tail()
#582939	71b61d11e1b4d3.jpg	71b61d11e1b4d3.jpg	8cf556d2deb3	humpback_whale

                    image1              image2 individual_id         species
582935  55d16898f22f4f.jpg  55d16898f22f4f.jpg  4871a3751a86      blue_whale
582936  55d16898f22f4f.jpg  9990f21d55be90.jpg  4871a3751a86      blue_whale
582937  efb53d2e25c25d.jpg  efb53d2e25c25d.jpg  cc646eadbff3      blue_whale
582938  e8f886f9465d69.jpg  e8f886f9465d69.jpg  5bfff69d5090      gray_whale
582939  71b61d11e1b4d3.jpg  71b61d11e1b4d3.jpg  8cf556d2deb3  humpback_whale

In [61]:
unique = []
for image1, image2 in maked_data[['image1', 'image2']].values:
    if image1 != image2:
        unique.append(f'{image1}_{image2}')
    else:
        unique.append(f'{image2}_{image1}')

In [63]:
maked_data.to_csv('image_combination.csv', index=False)